# Module 4: Python Without the "Eek" (Basic Python)

### Data Types

In [40]:
import pandas as pd

In [1]:
age = 6
type(age)

int

In [2]:
age = 6.0
type(age)

float

In [3]:
type(False)

bool

In [4]:
string = "hello"
type(string)

str

In [5]:
len(string)

5

In [6]:
string.upper()

'HELLO'

In [7]:
string.count('h')

1

#### Casting

In [8]:
float(5)

5.0

In [9]:
int(3.1)

3

In [11]:
str(5)

'5'

In [12]:
int(4.99)

4

In [13]:
bool(0)

False

In [14]:
bool(5.0)

True

In [15]:
int(False)

0

In [16]:
float(True)

1.0

### Data Structures: Lists, Tuples and Sets

In [19]:
sentence = "Hi my name is Jenna."
words = sentence.split()
words

['Hi', 'my', 'name', 'is', 'Jenna.']

In [20]:
sentence.split("e")

['Hi my nam', ' is J', 'nna.']

In [21]:
type(words)

list

In [22]:
my_list = [1.2, 3, None, True, 'Hello']
my_list

[1.2, 3, None, True, 'Hello']

In [23]:
list_of_lists = [[1,2], ['buckle', 'my', 'shoe'], 3, 4]

In [24]:
len(list_of_lists)

4

In [25]:
my_list[1]

3

In [26]:
my_list[1:3]

[3, None]

Lists are muteable

In [27]:
my_list[2] = "Ta Da!"

In [28]:
my_list

[1.2, 3, 'Ta Da!', True, 'Hello']

In [29]:
list_of_lists[1][2] = "Sandal"
list_of_lists

[[1, 2], ['buckle', 'my', 'Sandal'], 3, 4]

In [30]:
sentence

'Hi my name is Jenna.'

In [33]:
sentence[3:10]

'my name'

In [34]:
primes = [2,3,5,7,11]

In [35]:
primes.append(13)
primes

[2, 3, 5, 7, 11, 13]

In [36]:
max(primes)

13

In [37]:
sum(primes)

41

In [41]:
item1 = ['toothpaste', 'London Drugs', 3.99]
item2 = ['apples', 'Produce Store', 4.00]
item3 = ['bread', 'Bakery', 3.50]
column_names = ['item', 'location', 'price']

shopping_items = pd.DataFrame(data=[item1, item2, item3], columns = column_names)
shopping_items

         item       location  price
0  toothpaste   London Drugs   3.99
1      apples  Produce Store   4.00
2       bread         Bakery   3.50

In [42]:
type(shopping_items)

pandas.core.frame.DataFrame

In [43]:
my_tuple = ('I', 'lose', None, 'socks', 'when', 1, 'do', 'laundry', False)

Tuples are not muteable i.e. `my_tuple[2] = 'Many'` results in error

In [45]:
my_list = list(my_tuple)
type(my_list)

list

In [46]:
my_set = {2, 1.0, 'Buckle my shoe'}
my_set

{1.0, 2, 'Buckle my shoe'}

Sets do not have indices/order, cannot have duplicates. Cannot select indices i.e. `my_set[1]`. Sets are muteable.

In [49]:
my_set.add(3)
my_set.add(4)
my_set

{1.0, 2, 3, 4, 'Buckle my shoe'}

In [50]:
my_list

['I', 'lose', None, 'socks', 'when', 1, 'do', 'laundry', False]

### Dictionaries

In [52]:
house = {'bedrooms': 3}

In [53]:
house

{'bedrooms': 3}

In [54]:
condo = {'bedrooms' : 2,
         'bathrooms': 1,
         'kitchens': 1}

In [55]:
condo['bedrooms']

2

In [56]:
condo['kitchens'] = 0

In [57]:
condo

{'bedrooms': 2, 'bathrooms': 1, 'kitchens': 0}

In [58]:
condo['backyard'] = True

In [59]:
condo

{'bedrooms': 2, 'bathrooms': 1, 'kitchens': 0, 'backyard': True}

In [61]:
condo[9999] = ['age','old']
condo[('trees', 'flower', 'veggies')] = {'Garden':3}
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'kitchens': 0,
 'backyard': True,
 9999: ['age', 'old'],
 ('trees', 'flower', 'veggies'): {'Garden': 3}}

In [62]:
condo.items()

dict_items([('bedrooms', 2), ('bathrooms', 1), ('kitchens', 0), ('backyard', True), (9999, ['age', 'old']), (('trees', 'flower', 'veggies'), {'Garden': 3})])

In [64]:
data = { 'name': ['Cherry', 'Oak', 'Willow', 'Fir'],
        'height': [7, 20, 12, 16],
        'diameter': [12, 89, 30, 18],
        'flowering': [True, False, True, False]}

forest = pd.DataFrame.from_dict(data)
forest

     name  height  diameter  flowering
0  Cherry       7        12       True
1     Oak      20        89      False
2  Willow      12        30       True
3     Fir      16        18      False

In [66]:
data = {0: ['Cherry', 7, 12, True],
        1: ['Oak', 20, 89, False],
        2: ['Willow', 12, 30, True],
        3: ['Fir', 16, 18, False]}
column_names = ['name', 'height', 'diameter', 'flowering']

forest = pd.DataFrame.from_dict(data, orient='index', columns = column_names)
forest

     name  height  diameter  flowering
0  Cherry       7        12       True
1     Oak      20        89      False
2  Willow      12        30       True
3     Fir      16        18      False

### Dataframes, Series and Column dtypes

In [70]:
cereal = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/programming-in-python-for-data-science/master/data/cereal.csv')
cereal.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843

In [71]:
type(cereal)

pandas.core.frame.DataFrame

In [72]:
cereal[['mfr']]

   mfr
0    N
1    Q
2    K
3    K
4    R
..  ..
72   G
73   G
74   R
75   G
76   G

[77 rows x 1 columns]

In [74]:
type(cereal[['mfr']])

pandas.core.frame.DataFrame

In [73]:
cereal['mfr']

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

In [75]:
type(cereal['mfr'])

pandas.core.series.Series

In [76]:
cereal['calories'].dtypes

dtype('int64')

In [79]:
all_bran_fiber = cereal.loc[2, 'calories']
type(all_bran_fiber)

numpy.int64

In [80]:
cereal['name'].dtypes

dtype('O')

In [81]:
type(cereal.loc[2,'name'])

str

### Python Operations

In [84]:
6 + 5.7

11.7

In [85]:
15 - 7

8

In [86]:
4.5 * 4

18.0

In [87]:
2 ** 3

8

In [88]:
True + True

2

In [89]:
False + False

0

In [90]:
True * 4

4

In [91]:
False * 2 + True

1

In [92]:
False + 4

4

In [95]:
"hello" + " jenna"

'hello jenna'

In [97]:
"hello Jenna " * 3

'hello Jenna hello Jenna hello Jenna '

In [100]:
list1 = [1, 2.0, 3, 4.5] + ['nine', 'ten', 'eleven', 'twelve']
list1 # can't subtract or multiply lists

[1, 2.0, 3, 4.5, 'nine', 'ten', 'eleven', 'twelve']

In [101]:
'dogs' == 'cats'

False

In [102]:
6 < 7

True

In [103]:
(6 < 7) and ('dogs' == 'cats')

False

In [104]:
(6 < 7) or ('dogs' == 'cats')

True

In [105]:
not ('dogs' == 'cats')

True

In [106]:
not (6 < 7)

False

### Operations with Columns

In [107]:
cereal.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [108]:
cereal.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.623377,6.948052,96.129870,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.188138,4.403635,71.215823,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [109]:
cereal['calories'].astype('int')

0      70
1     120
2      70
3      50
4     110
     ...
72    110
73    110
74    100
75    100
76    110
Name: calories, Length: 77, dtype: int64

In [110]:
cereal = cereal.assign(calories=cereal['calories'].astype('int'))

In [111]:
cereal.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [113]:
cereal['calories'].sum()

8230

In [116]:
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,Cold,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,Cold,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [117]:
cereal.loc[:, 'protein':'carbo'].sum(axis=1) #horizontally

0     150.0
1      33.0
2     281.0
3     166.0
4     219.0
      ...
72    274.0
73    155.0
74    254.0
75    224.0
76    220.0
Length: 77, dtype: float64

In [118]:
cereal = cereal.assign(total_pffc=cereal.loc[:, 'protein':'carbo'].sum(axis=1))
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,total_pffc
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,150.0
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,33.0
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,281.0
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,166.0
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,274.0
73,Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,155.0
74,Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,254.0
75,Wheaties,G,Cold,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,224.0
76,Wheaties Honey Gold,G,Cold,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,220.0

### Splitting a Column

To split a column (i.e. MFR: K-Gold)

`new = cereal_amended['mfr_type'].str.split('-', expand=True)`

`new = new.rename(columns = {0:'mfr', 1: 'type'})`

`cereal = cereal_amended.assign(mfr=new['mfr'], type=new['type'])`

In [119]:
my_tuple = ('I', 'lose', None, 'socks', 'when', 1, 'do', 'laundry', False)

In [120]:
my_tuple[2]

In [122]:
sentence

'Hi my name is Jenna.'

In [123]:
sentence[1]

'i'

In [124]:
sentence[1] = "e"

TypeError: 'str' object does not support item assignment