# Module 5: Making Choices and Repeating Iterations

### Conditionals

In [1]:
my_name = 'Jenna'

if my_name.lower() == 'jenna':
    print('My name is Jenna too!')

elif my_name.lower() == 'totoro':
    print('Interesting, I loved that movie!')
    
else:
    print("That's a great name.")

print('Nice to meet you!')

My name is Jenna too!
Nice to meet you!

In [4]:
my_name = 'Totoro'

if my_name.lower() == 'jenna':
    print('My name is Jenna too!')

elif my_name.lower() == 'totoro':
    print('Interesting, I loved that movie!')
    
else:
    print("That's a great name.")

print('Nice to meet you!')

Interesting, I loved that movie!
Nice to meet you!

In [5]:
my_name = 'Desmond'

if my_name.lower() == 'jenna':
    print('My name is Jenna too!')

elif my_name.lower() == 'totoro':
    print('Interesting, I loved that movie!')
    
else:
    print("That's a great name.")

print('Nice to meet you!')

That's a great name.
Nice to meet you!

In [6]:
item = 13

if item > 20:
    magnitude = 'Greater than 20'
elif item > 10:
    magnitude = 'Between 10 and 20'
else:
    magnitude = '10 or less' 
    
magnitude

'Between 10 and 20'

In [7]:
exercises = ['burpees', 'lunges', 'squats', 'curls']

'squats' in exercises

True

In [13]:
cups_of_tea = [2, 1, 4, 3, 3, 2, 1]

tea_amount = sum(cups_of_tea) if type(cups_of_tea) is list else 'cannot sum'

tea_amount

16

### Loops

In [15]:
numbers = [2, 3, 5]

squared = list()
for number in numbers:
    squared.append(number ** 2)
squared

[4, 9, 25]

### Range, Dictionaries and Collections

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(50, 101, 10):
    print(i)

50
60
70
80
90
100

In [19]:
for i in range(7,10):
    print(i)

7
8
9

In [20]:
cereals = {'Special K': 4, 'Lucky Charms': 7, 'Cheerios': 2, 'Wheaties': 3}
cereals.items()

dict_items([('Special K', 4), ('Lucky Charms', 7), ('Cheerios', 2), ('Wheaties', 3)])

In [22]:
cereals = {'Special K': 4, 'Lucky Charms': 7, 'Cheerios': 2, 'Wheaties': 3}

for cereal, stock in cereals.items():
    print(cereal + " has " + str(stock) + " available")

Special K has 4 available
Lucky Charms has 7 available
Cheerios has 2 available
Wheaties has 3 available

### Comprehensions

In [23]:
numbers = [2, 3, 5]

In [24]:
squared = list()

for number in numbers:
    squared.append(number ** 2)
    
squared

[4, 9, 25]

In [25]:
squared = [number ** 2 for number in numbers]
squared

[4, 9, 25]

In [26]:
word_length = {number : number ** 2 for number in numbers}
word_length

{2: 4, 3: 9, 5: 25}

### Nested Loops

In [29]:
suits = ['hearts','diamonds']
faces = ['Jack', 'Queen', 'King']

cards = list()

for suit in suits:
    print(suit)
    for face in faces:
        print(face)
        cards.append(face + ' of ' + suit)
cards

hearts
Jack
Queen
King
diamonds
Jack
Queen
King

['Jack of hearts',
 'Queen of hearts',
 'King of hearts',
 'Jack of diamonds',
 'Queen of diamonds',
 'King of diamonds']

### Repeated Iterations with Conditions

In [30]:
item_list = [25, 13, 21, 8, 17, 11, 4]

for item in item_list:
    if item > 20:
        magnitude = 'greater than 20'
    elif item > 10:
        magnitude = 'Between 10 and 20'
    else:
        magnitude = '10 or less'
        break
    
    print(magnitude)

greater than 20
Between 10 and 20
greater than 20

In [32]:
item_list = [25, 13, 21, 8, 17, 11, 4]
number_over_20 = 0

for item in item_list:
    if item > 20:
        number_over_20 = number_over_20 + item
        
number_over_20

46

In [34]:
item_list = [25, 13, 21, 8, 17, 11, 4]
number_over_20 = 0

for item in item_list:
    if item > 20:
        number_over_20 += item
        
number_over_20

46

### Functions

In [35]:
def squares_a_list(numerical_list):
    new_squared_list = list()
    
    for number in numerical_list:
        new_squared_list.append(number ** 2)
        
    return new_squared_list

In [36]:
squares_a_list([2,3,4])

[4, 9, 16]

In [38]:
for list_of_numbers in [[1,2,3], [40, 44, 48], [100, 120, 200]]:
    print(squares_a_list(list_of_numbers))

[1, 4, 9]
[1600, 1936, 2304]
[10000, 14400, 40000]